@model Mediscreen.UI.Models.GetNotesViewModel

@{
    ViewData["Title"] = "Edit Note";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit Patient's note @Model.NoteId</h1>

<div class="detail-page">
    <div class="detail">
        <form asp-action="NoteDetailsEditPut" asp-controller="Notes" method="post">
            <input name="_RequestVerificationToken" type="hidden" />
            <input type="hidden" name="NoteId" value="@Model.NoteId" />
            <input type="hidden" name="PatientId" value="@Model.PatientId" />
            <textarea type="text" name="Comment">@Model.Comment</textarea> />
            <input type="hidden" name="CreatedDate" value="@Model.CreatedDate" />
            <input type="hidden" name="Practitioner" value="@Model.Practitioner" />

            <p>
                Does the patient has any of the following triggers?<br />
                @foreach (var trigger in Model.Triggers)
                {
                    <input type="checkbox" name="Triggers" value="@trigger.TriggerId" />
                    <label for="@trigger.TriggerName">@trigger.TriggerName</label>

                    <br />
                }
            </p>

            <button>Submit</button>
        </form>
    </div>
</div>