@model Mediscreen.UI.Models.PatientViewModel

@{
    ViewData["Title"] = "Patient";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@Model.FirstName @Model.LastName</h1>

<div class="detail-page">
    <div class="detail">
        <h2>Details</h2>
        <a href="/Patient/PatientDetailsEditGet/@Model.Id">Edit</a>
        <p><span>@Html.DisplayNameFor(model => model.FirstName) : </span>@Model.FirstName</p>
        <p><span>@Html.DisplayNameFor(model => model.LastName) : </span>@Model.LastName</p>
        <p><span>@Html.DisplayNameFor(model => model.Gender) : </span>@Model.Gender</p>
        <p><span>@Html.DisplayNameFor(model => model.Age) : </span>@Model.Age</p>
        <p><span>@Html.DisplayNameFor(model => model.BirthDate) : </span>@Model.BirthDate</p>
        <p><span>@Html.DisplayNameFor(model => model.HomeAddress) : </span>@Model.HomeAddress</p>
        <p><span>@Html.DisplayNameFor(model => model.PhoneNumber) : </span>@Model.PhoneNumber</p>


        <p>
            <a href="@Url.Action("NoteDetailsCreate", "Notes", new { id = Model.Id })">Create Note</a>
        </p>

        <table class="table">
            <thead>
                <tr>
                    <th>Last Note Update</th>
                    <th>Comment</th>
                    <th>Triggers</th>
                    <th>Risk Level</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var note in Model.Notes)
                {
                    <tr>
                        <td>@Html.DisplayFor(noteItem => note.LastUpdatedDate)</td>
                        <td>@Html.DisplayFor(noteItem => note.Comment)</td>
                        <td>
                            @foreach (var trigger in note.Triggers)
                            {
                                <p>@trigger.TriggerName</p>
                            }
                        </td>
                        <td>@Html.DisplayFor(noteItem => note.RiskLevel)</td>
                        <td>
                            <p>
                                <a href="@Url.Action("NoteDetails", "Notes", new { id = note.NoteId })">View Details</a>
                            </p>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>